/* ==UserStyle==
@name           liFX - Check
@namespace      https://github.com/Joltya/
@version        1.0.5
@description    Custom effects for lichess.org
@author         Kai Webb <cindykaiwebb@gmail.com>
@homepageURL	https://github.com/Joltya/lichess/
@supportURL		https://github.com/Joltya/lichess/issues/new/choose
@updateURL		https://raw.githubusercontent.com/Joltya/lichess/master/liFX/lifx_check.user.styl
@license		MIT

@preprocessor	stylus
@var select		pattern "Pattern" {
	"Solid": "solid",
	"Gradient": "gradient",
	"Circle": "circle",
	"Cross": "cross",
	"Bullseye": "bullseye",
	"Blank": "blank"
}
@var color		check "Color" #ec3013
@var color		glow "Glow" #ffc252
@var range		op_c "Color Opacity" [75, 0, 100, 5, '%']
@var range		op_g "Glow Opacity" [35, 0, 100, 5, '%']
==/UserStyle== */
@-moz-document domain("lichess.org") {

	i=!important;

	square.check {
		if pattern=='solid' {
			background: alpha(check, op_c) i
		}
		else if pattern=='gradient' {
			background: radial-gradient(alpha(glow, op_g) 0%,
			alpha(check, op_c) 80%) i
		}
		else if pattern=='circle' {
			background: radial-gradient(alpha(glow, op_g) 10%,
			transparent 70%),
			radial-gradient(alpha(check, op_c) 69%,
			transparent 71%) i
		}
		else if pattern=='cross' {
			background: radial-gradient( alpha(glow, op_g) 10%,
			transparent 70%),
			linear-gradient( -45deg,
			transparent 40%,
			alpha(check, op_c) 42%,
			alpha(check, op_c) 58%,
			transparent 60%),
			linear-gradient( 45deg,
			transparent 40%,
			alpha(check, op_c) 42%,
			alpha(check, op_c) 58%,
			transparent 60%) i
		}
		else if pattern=='bullseye' {
			background: radial-gradient(alpha(glow, op_g) 10%,
			transparent 70%),
			radial-gradient(alpha(check, op_c) 35%,
			transparent 37%,
			transparent 52%,
			alpha(check, op_c) 54%,
			alpha(check, op_c) 69%,
			transparent 71%,
			transparent 84%,
			alpha(check, op_c) 86%) i
		}
		else if pattern=='blank' {
			background: transparent i
		}
	}
}
